*{
    margin: 0;
    padding: 0;
}
.main{
    width: 80vw;
    /* height: 90vh; */
    /* margin: auto; */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#MainCard{
    display: none;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 0 0 10px 10px;
    border: 1px solid black;
    height: 85vh;
}

header{
    background-color: #536DFE;
    height: 5vh;
    color: #fff;
    text-align: center;
    font-size: larger;
    border-radius: 10px 10px 0 0; 
}
.small-container{
    margin: 4px;
    padding: 3px;
    /* border: 1px solid black; */
    /* width: 100%; */
}

.left{
    margin: auto;
    /* border-right: 2px solid black; */
}

.right{
    margin: auto;
}

.card{
    background-color: rgb(182, 221, 235) !important;
    border-radius: 60px;
    display:table-cell !important;
    vertical-align: middle !important;
    padding: 20px;
}

.image{
    height: 100% !important;
    /* background-color: #536DFE !important; */
    margin: auto !important;
}

.image img{
    border-radius: 20px !important;
}

h3{
    color: #536DFE;
}

/* #preview{
    width: 30px;
    height: 25px;
} */

.img-preview{

    width: 100px;
    height: 110px;
    margin: 10px;
    
}

#cardImage{
    max-height: 180px;
    max-width: 200px;
}